body{
      background: white;
      
}
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}
.info{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      background:rgba(61, 123, 182, 0.8); 
      width: 500px;
      height: 400px;
      margin-left: 400px;
      border-radius: 20px;
      margin-top: 60px;
      
      
}
.userName{
      display: flex;
      flex-direction: column;
      
}
.password{
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

}
input{
      width: 430px;
      height: 50px;
      border: none;
      border-radius: 10px;
      padding-left: 15px;
      background: rgb(234, 243, 251);
}
.login-wrapper {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100vh;
      padding-top: 60px;
    }
    
.info h1{
      color: white;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
}
    