body{
      background: white;
      
}
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}
.info{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      background:rgba(238, 130, 238, 0.5); 
      width: 800px;
      height: 600px;
      margin-left: 300px;
      padding-right: 120px;
      
}
.userName{
      display: flex;
      flex-direction: column;
}
.password{
      display: flex;
      flex-direction: column;
}
input{
      width: 430px;
      height: 50px;
      border: none;
      border-radius: 10px;
      padding-left: 15px;
}
.login-wrapper {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100vh;
      padding-top: 60px;
    }
    
    