body {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      background-color: rgb(234, 243, 251); /* Light background */
    }
    
    .signup-wrapper {
      
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-left: 250px;
      margin-top: 40px;
      background-color:rgb(61, 123, 182 ,0.4); /* Semi-transparent background */;
      width: 800px;
      height: 600px;
      border-radius: 20px;
    }
    
    .signup-form {
      padding: 40px;
      border-radius: 20px;
      width: 350px;
     
      height: 500px;
    }
    
    .signup-form h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    .signup-form input {
      height: 40px;
      width: 100%;
      border: none;
      border-radius: 8px;
      padding-left: 10px;
      font-size: 14px;
      margin-bottom: 15px;
    }
    
    
    
    .signup-form button:hover {
      background-color: #1f2f45;
    }
    
    .login-link {
      text-align: center;
      font-size: 14px;
      margin-top: 15px;
    }
    
    .login-link a {
      color: #fff;
      text-decoration: underline;
    }
    .signImage img{
      width: 350px;
      height: 350px;
      border-radius: 20px;
    }