*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
     
}

nav{
      display: flex;
      padding-left: 700px;
      gap: 100px;
      padding-top: 20px;
      background:rgb(92, 155, 212);
      height: 60px;
      
     
}
nav li{
      list-style: none;
      
}
nav a{
      text-decoration: none;
      font-size: 20px;
      color: black;
      font-weight: 600;
}
nav a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 3px;
      background: linear-gradient(90deg, #6a00ff, #c300ff);
      transition: width 0.3s ease-in-out;
      border-radius: 4px;
    }
    
    nav a:hover {
      color: #3555be;
    }
    
    nav a:hover::after {
      width: 100%;
    }
    body{
      background-color: aqua;
    }

    